.services{
    align-items: left;
}
.services h1{
    width:100%;
    font-size: 55px;
    text-align: left;
    font-weight:400;
}

@media (max-width:900px){
    .media-flex-col{
        /* background-color: rgb(41, 40, 39); */
        flex-direction: column !important;
        align-items:center !important;
        gap:30px !important;
    }
    .media-width-100{
        /* display:block; */
        width:90% !important;
    }
    .media-height-fit{
        height:fit-content !important;
    }
}

